{% extends "base.twig" %}

{% block content %}

	<section class="latest-articles" id="latest-articles">
		<div class="container">
			<div class="section__header">
				<h2 class="section__title">Latest articles</h2>
				<div class="section__text">These are my most recent posts.</div>
			</div>
			<div class="blog-post-previews">
				{% for post in recent_posts|slice(0,5) %}
					{% if not loop.first %}
						{% include "partials/blog-post-preview.twig" %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="explore" id="explore">
		<div class="container">
			<div class="section__header">
				<h2 class="section__title">Explore</h2>
				<div class="section__text">Read through a variety of my stories, try one of these categories.</div>
			</div>
			<div class="explore-items">
				{% for category in categories %}
					<a href="{{category.link}}" class="explore-item-container">
						<div class="explore-item">
							<h4 class="explore-item__title">{{category}}</h4>
							<img src="{{category.thumbnail.guid|resize(600)}}" alt="" class="explore-item__image">
						</div>
						<div class="explore-item__overlay"></div>
					</a>
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="about" id="about">
		<div class="about__content">
			<h2 class="about__title">About me</h2>
			<div class="about__text">
				{% for post in posts %}
					{{post.content}}
				{% endfor %}
			</div>
		</div>
		<img class="about__image" src="{% for post in posts %}{{post.thumbnail.src}}{% endfor %}" alt="Placeholder">
	</section>

	<section class="instagram-feed" id="instagram-feed">
		<div class="container">
			<div class="section__header">
				<div class="section__header-content">
					<h2 class="section__title">Instagram Feed</h2>
					<div class="section__text">Here are a few of my most recent Instagram posts.</div>
				</div>
				<div class="section__link-container">
					<a href="https://www.instagram.com/findingtheseoul/" target="_blank" class="section__link">View more on Instagram</a>
				</div>
			</div>
			<div class="section__body">
				<div class="instagram-gallery"></div>
			</div>
		</div>
	</section>

{% endblock %}
