{% extends "base.twig" %}

{% block content %}

	<section class="latest-articles" id="latest-articles">
		<div class="container">
			<div class="section__header">
				<h2 class="section__title">Latest articles</h2>
				<div class="section__text">These are my most recent posts.</div>
			</div>
			<div class="blog-post-previews">
				{% for post in recent_posts|slice(0,5) %}
					{% if not loop.first %}
						{% include "partials/blog-post-preview.twig" %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="explore" id="explore">
		<div class="container">
			<div class="section__header">
				<h2 class="section__title">Explore</h2>
				<div class="section__text">Read through a variety of my stories, try one of these categories.</div>
			</div>
			<div class="category-previews items">
				{% for category in categories %}
					<a href="{{category.link}}" class="category-preview" style="background-image: linear-gradient(180deg, rgba(30, 34, 37, 0) 0%, #1E2225 90%, #1E2225 90%), url({{category.thumbnail.guid|resize(400)}});">
						<h4 class="category-preview__title">{{category}}</h4>
					</a>
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="about" id="about">
		<div class="about__content">
			<h2 class="about__title">About me</h2>
			<div class="about__text">
				{% for post in posts %}
					{{post.content}}
				{% endfor %}
			</div>
		</div>
		<img class="about__image" src="{% for post in posts %}{{post.thumbnail.src}}{% endfor %}" alt="Placeholder">
	</section>

	<section class="instagram-feed">
		<div class="container">
			<div class="section__header">
				<div class="section__header-content">
					<h2 class="section__title">Instagram Feed</h2>
					<div class="section__text">Here's a few of my most recent Instagram posts.</div>
				</div>
				<div class="section__link-container">
					<a href="https://www.instagram.com/findingtheseoul/" class="section__link">View more on Instagram</a>
				</div>
			</div>
			<div class="section__body">
				<div class="gallery">
					<a class="gallery__item" href="#"><img src="https://via.placeholder.com/400" alt="Placeholder" class="gallery__image"></a>
					<a class="gallery__item" href="#"><img src="https://via.placeholder.com/400" alt="Placeholder" class="gallery__image"></a>
					<a class="gallery__item" href="#"><img src="https://via.placeholder.com/400" alt="Placeholder" class="gallery__image"></a>
					<a class="gallery__item" href="#"><img src="https://via.placeholder.com/400" alt="Placeholder" class="gallery__image"></a>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
